@*
@model BookHiveDB.Domain.DomainModels.Book

@{
    ViewData["Title"] = "Edit";
    var genres = ViewData["genres"] as IList<Genre>;
    var authors = ViewData["authors"] as IList<Author>;
}

<h1>Edit</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="isbn" class="control-label"></label>
                <input asp-for="isbn" class="form-control" />
                <span asp-validation-for="isbn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="datePublished" class="control-label"></label>
                <input asp-for="datePublished" class="form-control" />
                <span asp-validation-for="datePublished" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="coverImageUrl" class="control-label"></label>
                <input asp-for="coverImageUrl" class="form-control" />
                <span asp-validation-for="coverImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isValid" /> @Html.DisplayNameFor(model => model.isValid)
                </label>
            </div>




            <h4>Select the authors of the book</h4>
            <select class="form-control" name="authors" multiple required>
                @foreach (Author author in ViewData["authors"] as IList<Author>)
                {
                    <option value="@author.Id" selected="@Model.Authors.Where(z=>z.Author.Equals(author)).Count().Equals(1)">
                        @author.Name
                    </option>
                }

            </select>
            <div>
                <h4>Select the genre/s of the book</h4>
                <select class="form-control" name="genres" multiple required>
                    @foreach (Genre genre in ViewData["genres"] as IList<Genre>)
                    {
                        <option value="@genre.Id" selected="@Model.BookGenres.Where(z=>z.Genre.Equals(genre)).Count().Equals(1)">
                            @genre.GenreName
                        </option>
                    }
                </select>
            </div>



            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>



        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
*@
